.selected {
    font-weight: bold;
    color: whitesmoke;
}

.link-button {
    display: inline;
    padding: 0;
    margin: 0;
    border: none;
    font-weight: 600;
    background-color: inherit;
    color: #a3be8c;
}

.link-button:hover {
    border: none;
    background-color: inherit;
    color: #d1dfc4;
    text-decoration: underline;
}