main {
  padding: 0 60px;
  margin-top: 4rem;
  overflow: scroll;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Courier New', Courier, monospace;
  color: whitesmoke;
}

a:link {
  color: #a3be8c;
  text-decoration: none;
}

a:visited {
  color: #a3be8c;
}

a:hover {
  color: #d1dfc4;
  text-decoration: underline;
}