main {
  padding: 0 60px;
  margin-top: 4rem;
  overflow: scroll;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Courier New', Courier, monospace;
  color: whitesmoke;
}

a:link {
  color: #a3be8c;
  text-decoration: none;
}

a:visited {
  color: #a3be8c;
}

a:hover {
  color: #d1dfc4;
  text-decoration: underline;
}

button {
  padding: 0.2rem 15px;

  font-size: 1rem;
  font-weight: bold;

  border: 1px solid #a3be8c;
  border-radius: 5px;
  background-color: #a3be8c;
  color: white;
}

button:hover {
  cursor: pointer;
  border: 1px solid #82976f;
  background-color: #82976f;
}

button:focus {
  outline: none;
}