.search-panel {
    max-width: 600px;
    padding: 1.2rem 30px;
    border: 1px solid #bfbfbf;
    border-radius: 2px;
}

.search-bar-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

#search-bar {
    width: 60%;
    padding: 0.2rem 5px;
    font-size: 1.2rem;
    border: 3px solid whitesmoke;
    border-radius: 3px;
    background-color: black;
    color: white;
}

#search-bar::placeholder {
    font-style: italic;
}

#search-bar:focus {
    outline: none;
    border: 3px solid white;
}

input[type="submit"] {
    height: 2rem;
    padding: 0.2rem 30px;
    margin-left: 8px;

    font-size: 1.2rem;
    font-weight: bold;

    border: 1px solid #a3be8c;
    border-radius: 5px;
    background-color: #a3be8c;
    color: white;
}

input[type="submit"]:hover {
    cursor: pointer;
    border: 1px solid #82976f;
    background-color: #82976f;
}

input[type="submit"]:focus {
    outline: none;
}