.game-card {
    margin-top: 1rem;
    padding: 0.4rem 20px;
    border-radius: 8px;
    background-color: #191919;
}

.game-card img {
    /* display: inline-block; */
    max-width: 200px;
    max-height: 200px;
}

.game-card button {
    display: block;

    padding: 0.2rem 15px;
    margin: 1rem 0;

    font-size: 1rem;
    font-weight: bold;

    border: 1px solid #a3be8c;
    border-radius: 5px;
    background-color: #a3be8c;
    color: white;
}

.game-card button:hover {
    cursor: pointer;
    border: 1px solid #82976f;
    background-color: #82976f;
}

.game-card button:focus {
    outline: none;
}