.game-card {
    margin-top: 1rem;
    padding: 0.4rem 20px;
    border-radius: 8px;
    background-color: #191919;
}

.game-card img {
    /* display: inline-block; */
    max-width: 200px;
    max-height: 200px;
}

.game-card button {
    display: block;
    margin: 1rem 0;
}